<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">PhishProof</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				{% if request.user.is_authenticated %}
				<li class="nav-item">
					<a
						href="/app/dashboard"
						class="nav-link nav-btn d-flex flex-column align-items-center {% if request.path == '/app/dashboard/' %}active{% endif %}"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="32"
							height="32"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="nav-icon icon icon-tabler icons-tabler-outline icon-tabler-chalkboard"
						>
							<path stroke="none" d="M0 0h24v24H0z" fill="none" />
							<path
								d="M8 19h-3a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v11a1 1 0 0 1 -1 1"
							/>
							<path
								d="M11 16m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v1a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"
							/>
						</svg>
						Dashboard
					</a>
				</li>
				{% else %}
				<li class="nav-item">
					<a
						href="/"
						class="nav-link nav-btn d-flex flex-column align-items-center {% if request.path == '/' %}active{% endif %}"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="32"
							height="32"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="nav-icon icon icon-tabler icons-tabler-outline icon-tabler-smart-home"
						>
							<path stroke="none" d="M0 0h24v24H0z" fill="none" />
							<path
								d="M19 8.71l-5.333 -4.148a2.666 2.666 0 0 0 -3.274 0l-5.334 4.148a2.665 2.665 0 0 0 -1.029 2.105v7.2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-7.2c0 -.823 -.38 -1.6 -1.03 -2.105"
							/>
							<path d="M16 15c-2.21 1.333 -5.792 1.333 -8 0" />
						</svg>
						Home
					</a>
				</li>
				{% endif %}
				<li class="nav-item">
					<a
						href="{% if request.user.is_authenticated %} /app/learn {% else %} /auth/login {% endif %}"
						class="nav-link nav-btn d-flex flex-column align-items-center {% if request.path == '/app/learn/' %}active{% endif %}"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="32"
							height="32"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="nav-icon icon icon-tabler icons-tabler-outline icon-tabler-book"
						>
							<path stroke="none" d="M0 0h24v24H0z" fill="none" />
							<path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
							<path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
							<path d="M3 6l0 13" />
							<path d="M12 6l0 13" />
							<path d="M21 6l0 13" />
						</svg>
						Learn
					</a>
				</li>
				<li class="nav-item">
					<a
						href="{% if request.user.is_authenticated %} /app/lab {% else %} /auth/login {% endif %}"
						class="nav-link nav-btn d-flex flex-column align-items-center {% if request.path == '/app/lab/' %}active{% endif %}"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="32"
							height="32"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="nav-icon icon icon-tabler icons-tabler-outline icon-tabler-test-pipe"
						>
							<path stroke="none" d="M0 0h24v24H0z" fill="none" />
							<path
								d="M20 8.04l-12.122 12.124a2.857 2.857 0 1 1 -4.041 -4.04l12.122 -12.124"
							/>
							<path d="M7 13h8" />
							<path d="M19 15l1.5 1.6a2 2 0 1 1 -3 0l1.5 -1.6z" />
							<path d="M15 3l6 6" />
						</svg>
						Practice
					</a>
				</li>
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle nav-btn d-flex flex-column align-items-center"
						href="#"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="32"
							height="32"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="nav-icon icon icon-tabler icons-tabler-outline icon-tabler-dots"
						>
							<path stroke="none" d="M0 0h24v24H0z" fill="none" />
							<path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
							<path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
							<path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
						</svg>
						Other
					</a>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li>
							<a class="dropdown-item" href="/business">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="16"
									viewBox="0 0 24 24"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="me-2"
								>
									<path stroke="none" d="M0 0h24v24H0z" fill="none" />
									<path
										d="M3 9a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9z"
									/>
									<path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" />
								</svg>
								Business
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="/education">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="16"
									viewBox="0 0 24 24"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="me-2"
								>
									<path stroke="none" d="M0 0h24v24H0z" fill="none" />
									<path
										d="M5 18v-6a6 6 0 0 1 6 -6h2a6 6 0 0 1 6 6v6a3 3 0 0 1 -3 3h-8a3 3 0 0 1 -3 -3z"
									/>
									<path d="M10 6v-1a2 2 0 1 1 4 0v1" />
									<path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4" />
									<path d="M11 10h2" />
								</svg>
								Education
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="/about">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="16"
									viewBox="0 0 24 24"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="me-2"
								>
									<path stroke="none" d="M0 0h24v24H0z" fill="none" />
									<path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
									<path d="M3.6 9h16.8" />
									<path d="M3.6 15h16.8" />
									<path d="M11.5 3a17 17 0 0 0 0 18" />
									<path d="M12.5 3a17 17 0 0 1 0 18" />
								</svg>
								About
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="/contact">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="16"
									viewBox="0 0 24 24"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="me-2"
								>
									<path stroke="none" d="M0 0h24v24H0z" fill="none" />
									<path
										d="M20 6v12a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2z"
									/>
									<path d="M10 16h6" />
									<path d="M13 11m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
									<path d="M4 8h3" />
									<path d="M4 12h3" />
									<path d="M4 16h3" />
								</svg>
								Contact
							</a>
						</li>
						<li><hr class="dropdown-divider" /></li>
						<li>
							<a class="dropdown-item" href="#">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="16"
									viewBox="0 0 24 24"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="me-2"
								>
									<path stroke="none" d="M0 0h24v24H0z" fill="none" />
									<path d="M5 11h14v-3h-14z" />
									<path d="M17.5 11l-1.5 10h-8l-1.5 -10" />
									<path d="M6 8v-1a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v1" />
									<path d="M15 5v-2" />
								</svg>
								Buy Me A Coffee
							</a>
						</li>
					</ul>
				</li>
			</ul>
			{% if request.user.is_authenticated %}
			<div class="d-flex align-items-center gap-3">
				<!-- Profile Dropdown -->
				<div class="dropdown">
					<button
						class="btn btn-link p-0 profile-dropdown"
						type="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						<div class="profile-avatar">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="32"
								height="32"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="avatar-icon"
							>
								<path stroke="none" d="M0 0h24v24H0z" fill="none" />
								<path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
								<path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
							</svg>
						</div>
					</button>
					<ul class="dropdown-menu dropdown-menu-end">
						<li>
							<div class="dropdown-header">
								<strong> {{ request.user.username }} </strong>
								<small class="text-muted d-block"
									>{{ request.user.email }}
								</small>
							</div>
						</li>
						<li><hr class="dropdown-divider" /></li>
						<li>
							<a class="dropdown-item" href="/app/profile">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="16"
									viewBox="0 0 24 24"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="me-2"
								>
									<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
									<circle cx="12" cy="7" r="4" />
								</svg>
								Profile
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="/app/settings">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="16"
									viewBox="0 0 24 24"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="me-2"
								>
									<circle cx="12" cy="12" r="3" />
									<path d="M12 1v6m0 6v6m11-7h-6m-6 0H1" />
								</svg>
								Settings
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="/app/achievements">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="16"
									viewBox="0 0 24 24"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="me-2"
								>
									<path
										d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"
									/>
								</svg>
								Achievements
							</a>
						</li>
						<li><hr class="dropdown-divider" /></li>
						<li>
							<a
								class="dropdown-item text-danger"
								href="#"
								onclick="document.getElementById('logout-form').submit();"
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="16"
									viewBox="0 0 24 24"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="me-2"
								>
									<path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
									<polyline points="16,17 21,12 16,7" />
									<line x1="21" y1="12" x2="9" y2="12" />
								</svg>
								Log Out
							</a>
						</li>
					</ul>
				</div>

				<!-- Hidden logout form -->
				<form
					id="logout-form"
					method="post"
					action="{% url 'logout' %}"
					style="display: none"
				>
					{% csrf_token %}
				</form>
			</div>
			{% else %}
			<div class="d-flex">
				<a href="{% url 'login' %}" class="btn btn-outline-success">Log In</a>
				<a href="{% url 'register' %}" class="btn btn-success">Join for FREE</a>
			</div>
			{% endif %}
		</div>
	</div>
</nav>
